<!DOCTYPE html>
<html>
	<head>
		<title>Bot Detector Website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
	</head>
	<body>
        <div class="container">
            <h1>Twitter Bot Detector</h1> 
            <p>Check if a user is human or bot.</p>
            <form action="" method="post">
                <input type="text" placeholder="e.g. @hello_kitty123" name="name">
                <div class="bar"></div>
                <div class="highlight"></div>
                <button class="btn striped-shadow dark" type="submit" value="submit"><span>Check</span></button>
            </form>
            <br>
            {% if usr%}
                <p>It must be a {{usr}} !</p>
            {% endif%}

        </div>
	</body>
</html>